.single-campaign-card{
    border: 1px solid rgba(85, 85, 85, 0.476);
    width: 90%;
    height: 400px !important;
    box-sizing: border-box;
    overflow: hidden;
    margin:auto;
    margin-bottom: 5% !important;
    transition: all 0.3s;
}
.single-campaign-card:hover{
    border: 1px solid #555;
    transition: all 0.3s;

}
.naira-n{
    font-size: 170%;
}
.c-img{
    height: 200px;
    width: 100%;
}
.last-donay, .card-title, b, .grey, .goal--{
    color: #555;
}
.goal--{
    font-weight: 500;
}
.last-donay, .raised--{
    font-size: 70%;
}
.story-p{
    height: 20px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
}
.description-st{
    font-weight: 700;
    font-size: 90%;
}
.all-c_header{
    font-weight: 800;
}
.all-c-r{
    padding: 5%;
}