
  .upload-card{
      width:50%;
      margin:auto;
      border: 2px solid black;
      border-radius: 13px;
      padding: 0% 10%;
      padding-bottom: 5% !important;
  }
.upload-header{
    padding: 5% 0%;
    font-weight: 700;
}
.story-text{
    font-weight: 600;
}
.story-text:after{
    position: absolute;
    content: '';
    width: 40%;
    height: 1px;
    background: #555;
    left: 31%;
    bottom: -35%;
}
.button_upload{
    background: #1983B6;
    color: #fff;
    border-radius: 13px;
    border: 1px solid transparent;
}

.remove-bg{
    background: transparent !important;
}
.go-back-link{
    cursor: pointer;
    font-weight: 700;
    color: #1983B6;
}
.go-back-link:hover{
    cursor: pointer;
    color: #000;
    transition: all 0.3s;
}
.cc-btn{
    width: 300px !important;
    margin-left: 12%;

}