@media (max-width: 1200px) {
    .image_header {
        height: 60vh;
        width: auto;
    }
    .single-campaign-card {
        width: 18rem;
    }

  }
  @media (max-width: 1100px) {
    .image_header {
        height: 50vh;
        width: auto;
    }
    .nav-link {
        padding: .5rem .3rem;
    
    }
    .single-campaign-card {
        width: 108%;
    }

  }
  @media (max-width: 1000px) {
    .image_header {
        height: 43vh;
        width: auto;
    }
    .nav-link {
        padding: .5rem .1rem;
    
    }
    .logo {
        height: 50px;
        width: auto;
    
    }
    .phone-img {
        height: 300px;
        width: auto;
    }
    .dwnld {
        width: 127px;
        height: 120px;
    
    }
    .dwnld-play {
        height: 61px;
        width: 151px;
    
    }
    #logo {
        display: inline !important;
        padding: 0;
        text-align: left !important;
        float: none;
    
    }
    span.border-line{
        display: none !important;
    }
    
    
  }
  @media (max-width: 900px) {
    .phone-img {
        height: 270px;
        width: auto;
        }
    .light-font-weight {
            font-size: 80%;
        }
    .header-body{
        padding-bottom: 9%;
    }
    .stats-count {
        font-size: 212%;
    }
    .form-card {
        margin-left: -17%;
        width: 120%;
    
    }
    .sign-up-header {
        margin-right: 19%;
        font-size: 240%;
    }

  }

  @media (max-width: 800px) {
    .image_header{
        display: none !important;
    }
    .header-body {
        height: 50vh;
        background: #1983B6;
        color: #fff;
        clip-path: polygon(0 0, 100% 0%, 100% 74%, 0 100%);
    }
    
    .header-desc {
        font-weight: 900;
        padding: 5%;
        text-align: center;
        font-size: 270%;
        width: 150% !important;
        margin: auto;
        position: absolute;
        left: 27%;
        top: 10%;
    }
    a.reqe-button {
        color: white;
        border: 1px solid #fff;
    }
    .stats-div{
        clip-path: polygon(0 40%, 100% 26%, 100% 82%, 0% 100%);
        padding: 20% 0% 10% 0%;
    }
    
    .phone-img {
        height: 228px;
    }
    .dwnld {
        width: 117px;
        height: 120px;
    
    }
    .dwnld-play {
        height: 54px;
        width: 151px;
    
    }
    .phone-img {
        height: 217px;
    }
    .bottom-grids h4 {
        font-size: 19px;
    }

  }
 
@media (max-width: 700px) {
    .mt-5, .my-5 {
        margin-top: 0px !important;
    }
    .footerv2-w3ls{
        width: 50%;
        display: inline !important;
    }
    .app-advert {
        padding: 5%;
    }
    .sign-up-header {

        margin-right: 85%;
        font-size: 130%;
    
    }
    .light-font-weight {
        display: none;
    
    }

  }

  @media (max-width: 770px) {
    .navbar-nav .nav-link {
       
        margin: auto;
    }
    .signup-btn {
        margin: auto !important;
        margin-bottom: 5px !important;
    }
    .login-btn {
        margin: auto !important;
    }
  }
  @media (max-width: 600px) {
    .stats-div {
        font-size: 0.6rem;
    }
    .app-advert {
      font-size: 9px !important;
    }
    .dwnld {
        width: 77px;
        height: 65px;
    }
    .dwnld-play {
        height: 39px;
        width: 97px;
    }
    .phone-img {
        height: 161px;
    }
  }
  @media (max-width: 500px) {
   
    .steps--{
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }
    .form-card {
        margin-left: 0%;
        width: 111%;
    
    }
    .sign-up-header {
        margin-right: 0%;
        font-size: 174%;
    }
    .light-font-weight {
        display: block;
        font-size: 54%;
    }
    

  }
  @media (max-width: 400px) {
    .header-desc {

        font-weight: 900;
        padding: 30%;
        text-align: center;
        font-size: 191%;
        width: 183% !important;
        margin: auto;
        position: absolute;
        left: 7%;
        top: 10%;
    
    }
    .phone-img {
        height: 231px;
    }
    .available {
        text-align: center;
        font-weight: 600;    
    }
}
@media(max-width: 300px){
    .stats-div {

        clip-path: none;
        padding: 20% 0% 10% 0%;
    
    }
    .section-header {
        font-size: 150%;
    
    }
}